<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gymapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GymApp">
        <activity
            android:name=".ViewWorkout"
            android:exported="true"
            android:label="View Exercises"/>
        <activity
            android:name=".UpdateWorkout"
            android:exported="true"
            android:label="Update Workout"/>
        <activity
            android:name=".AddWorkout"
            android:exported="true"
            android:label="Add Workout"/>
        <activity
            android:name=".UpdateExercise"
            android:exported="true"
            android:label="Update Exercise"/>
        <activity
            android:name=".AddExercise"
            android:exported="true"
            android:label="Add Exercise" />
        <activity
            android:name=".UpdateAthlete"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AddAthlete"
            android:exported="true"
            android:label="Add Athlete" />
        <activity
            android:name=".ViewExercise"
            android:exported="true"
            android:label="View Exercises" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="Gym Rat">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>